/* :root {

} */

/* div:hover {
}
*/

/*
div:not(.nao) {
  background-color: lightcoral;  
} */

/* section:has(div:hover){
  border: 2px solid red;
} */

/* div:nth-child(2){
  background-color: lightblue;
} */

/* div::first-letter{
  font-size: 40px;
} */
div {
  position: relative;
}
div::after{
  content: "a";
  /* height: 100%;
  width: 2px;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0; */
}